MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

CLOUDFLARED_TOKEN=eyJh...

NC_DOMAIN=nextcloud-dev.domain.com
TRUSTED_PROXY_CIDR=172.16.0.0/12

# Content Pipelines (API authenticates with this secret)
CONTENT_PIPELINES_SECRET=changeme
CONTENT_PIPELINES_API_URL=http://content_pipelines_api:8000
